html,body{
  font-family: 'Helvetica Neue';
  padding: 5px;
  margin: 5px;
}

div{
  text-align: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 800px;
}

#content{
  font-size: 15px;
  width: 700px;
}

#textbox{
  border-top-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  border-left-width: 0px;
  border: none;
  font-size: 40px;
  text-align: center;
  outline: none;
  background-color: transparent;
}

#button{
  background-color: black;
  color: white;
  border:none;
  height: 25px;
  font-size: 15px;
}
